[submodule "deps/spfa"]
	path = deps/spfa
	url = https://github.com/IvanIZ/spfa.git
[submodule "deps/GLNS.jl"]
	path = deps/GLNS.jl
	url = https://github.com/megalphian/GLNS.jl.git

[submodule "diffusion_policy"]
	path = diffusion_policy
	url = https://github.com/carosteven/diffusion-policy
