numpy
matplotlib==3.7.5
pyyaml
tqdm
scipy
pandas
sknw
networkx
numba
casadi
shapely
scikit-image
pymunk
pycpd
opencv-python-headless
packcircles
torch
torchsummary
torchvision
gymnasium
stable-baselines3
tensorboard
pygame
git+https://github.com/rdesc/pydubins.git