numpy
matplotlib==3.7.5
pyyaml
tqdm
scipy
pandas
sknw
networkx
numba
casadi
shapely
scikit-image
pymunk==6.5.1
pycpd
packcircles
torch
torchsummary
torchvision
gymnasium
stable-baselines3
tensorboard
pygame
opencv-python
pynput
git+https://github.com/rdesc/pydubins.git
opencv-python

# cd benchnpin/common/spfa
# python setup.py install
